.wrapper{
  display: grid;
  grid-template-columns: repeat(1fr, 1fr, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

.buffer1{
  grid-column: 1;
}

.theCode{
  display: flex;
  justify-content: space-around;
  grid-column: 2;
}

.first, .second, .third, .fourth{
  border: solid;
  max-width: 10vh;
  max-height: 10vh;
  min-width: 10vh;
  min-height: 10vh;
  border-radius: 100%;
}

.theBoard{
  /* border: solid; */
  grid-column: 2;
  grid-row: 2;
}

.round1, .round2, .round3, .round4, .round5, .round6, .round7, .round8, .round9, .round10, .round11, .round12{
  /* border: solid; */
  padding: 2%;
  display: flex;
  justify-content: space-around;
}

.feedBack{
  background-color: blueviolet;
  max-width: 10vh;
  min-width: 10vh;
  max-height: 10vh;
  min-height: 10vh;
  border: blueviolet solid;
  border-radius: 25%;
}

.feedBack{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.answerCircle1, .answerCircle2, .answerCircle3, .answerCircle4{
  border: solid;
  min-width: 3vh;
  max-width: 3vh;
  min-height: 3vh;
  max-height: 3vh;
  border-radius: 100%;
}

.buffer2{
  grid-column: 3;
}

