.wrapper{
  display: grid;
  grid-template-columns: repeat(1fr, 1fr, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

.buffer1{
  grid-column: 1;
}

.theCode{
  display: flex;
  justify-content: space-around;
  grid-column: 2;
}

.first, .second, .third, .fourth{
  border: solid;
  max-width: 10vh;
  max-height: 10vh;
  min-width: 10vh;
  min-height: 10vh;
  border-radius: 100%;
}

.theBoard{
  /* border: solid; */
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 2;
}

.round1, .round2, .round3, .round4, .round5, .round6, .round7, .round8, .round9, .round10, .round11, .round12{
  /* border: solid; */
  padding: 2%;
  display: flex;
  justify-content: space-around;
}

.checkAnswer{
  background-color: cadetblue;
  color: antiquewhite;
  min-width: 9vh;
  max-width: 9vh;
  min-height: 5vh;
  max-height: 5vh;
  text-align: center;
  align-self: center;
  transition: 0.2s;
}

.checkAnswer:hover{
  background-color: rgb(40, 88, 90);
  color: rgb(199, 176, 146);
}

.checkAnswer:active{
  min-width: 8.5vh;
  max-width: 8.5vh;
  min-height: 4.7vh;
  max-height: 4.7vh;
}

.feedBack{
  background-color: blueviolet;
  max-width: 10vh;
  min-width: 10vh;
  max-height: 10vh;
  min-height: 10vh;
  border: blueviolet solid;
  border-radius: 25%;
}

.feedBack{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.answerCircle1, .answerCircle2, .answerCircle3, .answerCircle4{
  border: solid;
  min-width: 3vh;
  max-width: 3vh;
  min-height: 3vh;
  max-height: 3vh;
  border-radius: 100%;
}

.buffer2{
  grid-column: 3;
}

